.Btn
  %div toppage
  - if user_signed_in?
    = button_to "ログアウト", destroy_user_session_path, method: :delete, class: "Btn__log"
    = link_to "マイページ", "#", class: "Btn__log"
    = link_to new_student_path do
      生徒登録
    .gp-name
      クラス名
      = link_to group_path(id: current_user.id) do
        = current_user.group_name
    .student
      ニックネーム
      - @student.each do |student|
        .st-name
          = link_to student_path(student.id) do
            = student.name

  - else
    = link_to "ログイン", new_user_session_path, class: "Btn__log"
    = link_to "新規会員登録", new_user_registration_path, class: "Btn__log"
